<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>栏目管理</title>

  <!-- Bootstrap -->
  <link href="/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
  <link rel="stylesheet" type="text/css" href="/public/static/css/rightmain.css">
</head>

<body>
  <div class="iframecontent">
    <div class="pos">
      <i class="icoh"></i>
      <span>栏目列表</span>
    </div>
    <div class="operate">
      <div class="pull-left">
        <input type="button" name="" value="添加用户" class="btn  btn-success">
      </div>
      <!-- operate标题结束 -->
      <div class="list">
        <div class="tablewrap">
          <table class="table" width="100%" id="datalist">
            <thead>
              <tr>
                <th>编号</th>
                <th>名称</th>
                <th>城市</th>
                <th>电话</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td class="">
                  <input type="checkbox" name="">
                </td>
                <td>1</td>
                <td>
                  <a href="javascript:;">公司介绍</a>
                </td>
                <td>单页模型</td>
                <td>是</td>
                <td>
                  <input type="" name="" value="">
                </td>
                <td>
                  <a href="javascript:;">添加子栏目</a>
                  <a href="javascript:;">列表</a>
                  <a href="javascript:;">修改</a>
                  <a href="javascript:;">删除</a>
                </td>
              </tr> -->
              {foreach $user as $item }
              <tr>
                <td>{$item.Id}</td>
                <td>
                  <a href="javascript:;">{$item.nickname}</a>
                </td>
                <td>{$item.province}--{$item.city}</td>
                <td>{$item.phone}</td>
                <td>
                  <a href="{:url('addUser',array('id'=>$item['Id']),'')}">修改</a>
                  <a href="javascript:;" onclick="del({$item['Id']});">删除</a>
                </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
        </div>
        <div class="page">

          {$page}
        </div>
      </div>

    </div>
  </div>


  <script src="/public/static/public/js/jquery-3.1.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/public/static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    //alert($)
    //复选框全部选中
    $(function () {
      $("#all").click(function () {
        if ($(this).prop('checked')) {
          $('#datalist :checkbox').prop('checked', true)
        } else {
          $('#datalist :checkbox').prop('checked', false)
        }
      })
    })
  </script>
  <script>
    function del(id) {
      var msg = "您真的确定要删除吗？\n\n请确认！";
      if (confirm(msg) == true) {
        $.ajax({
          type: "post",
          url: "userDel",
          data: { id: id },
          success: function (data) {
            if (data['status']) {
              alert("删除成功");
              self.location.reload();
            } else {
              alert("删除失败");
              self.location.reload();
            }
          }
        });
      } else {
        return false;
      }
    } 
  </script>
</body>

</html>