# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
order-rpc
order-api

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Dependency directories
vendor/

# protoc
protoc/
protoc.zip

# OS
.DS_Store
Thumbs.db
