header {
    text-align: center;
    font-size: .56rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    background: #FFF;
    cursor: pointer;
    padding: .2rem 0;
}

.case {
    margin: 0.2rem auto;
    overflow: hidden;
    padding-bottom: 0.1rem;
}

main {
    overflow: hidden;
    margin-top: 0.64rem;
}

main ul {
    float: left;
    z-index: -1;
    width: 100%;
    display: none;
    margin-top: 0.1rem;
}

main ul li {
    padding: .2rem 0;
    background: #FFFFFF;
    cursor: pointer;
    display: block;
}

main ul li:nth-child(odd) {
    background: ghostwhite;
}

#cover {
    position:absolute;left:0px;top:0px;
    background:rgba(0, 0, 0, 0.4);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display: none;
    z-index: 9;
}

#code {
    position: fixed;
    width: 88%;
    padding: 0 1%;
    border-radius: .1rem;
    max-height: 80%;
    top: 5%;
    left: 5%;
    overflow: auto;
    z-index: 99;
    display: none;
    background: #FFF;
    color: #000;
}

#code::-webkit-scrollbar {
    width: 0 !important
}

.alert {
    color: red;
}
